/* CSS declarations go here */

body {
    text-align: center;
}

.action {
    cursor: pointer;
}

div.wishlist {
    padding: 5px;
}

div.wishlist .actions {
    margin-top: 10px;
    text-align: right;
}
div.wishlist .content {
    width: 100%;
    border-radius: 5px 5px;
    background: #81DAF5;
    display: inline-block;
    padding: 15px;
    text-align: left;
}

div.wishlist .list_items {
    max-height: 300px;
    overflow: auto;
}

div.wishlist .list_name {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
    padding-bottom: 5px;
}

div.wishlist .owner {
    position: absolute;
    right: 10px;
    font-weight: normal;
    font-style: italic;
}

div.wishlist .content .shared_item .item_label {
    margin-left: 5px;
}

div.wishlist.my_wishlist .content .addItem {
    margin: 10px;
}

div.wishlist.my_wishlist .content {
    background: #F5DA81;
}

#login-dropdown-list {
    position: absolute;
    top:10px;
    left: 10px;
    display: inline-block;
}

.tap-i18n-dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 250px;
}

.container {
    border-radius: 10px 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background: #ececec;
}
