<template name="myList">
    <button id="addList" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add a list</button>
    <div class="row">
        {{#each myList }}
            {{>ownList}}
        {{/each }}
    </div>
</template>

<template name="ownList">
    <div class="wishlist col-sm-12 col-xs-12 my_wishlist">
        <div class="content">
            <div class="list_name">{{name}}</div>
            {{#if items.count}}
                    {{#each items}}
                        {{>ownItem}}
                    {{/each }}
            {{else}}
                        <p>This list is empty</p>
            {{/if}}
            <form class="addItem">
                <div class="input-group">
                    <input class="form-control add_item input-group-addon" type="text" name="name" />
                    <span class = "input-group-btn">
                        <button class="btn btn-primary validate" type="submit">OK</button>
                    </span>
                </div>
            </form>
            <div class="actions">
                <span data-toggle="tooltip" data-placement="bottom" title="Change color" class="action share glyphicon glyphicon-tint"></span>
                <span data-toggle="tooltip" data-placement="bottom" title="share" class="action share glyphicon glyphicon-share"></span>
                <span data-toggle="tooltip" data-placement="bottom" title="delete" class="action delete glyphicon glyphicon-remove"></span>
            </div>
        </div>
    </div>
</template>

<template name="ownItem">
    <div>
        <span data-toggle="tooltip" data-placement="bottom" title="delete" class="action delete glyphicon glyphicon-remove"></span>
        <span>{{name}}</span>
    </div>
</template>
