<template name="sharedLists">
    <div class="input-group" id="select_owner_group">
        <div class="input-group-addon group-label">{{i18n "display_list_of"}}</div>
        <select class="form-control" id="select_owner">
            <option>---</option>
            {{# each sharingUser }}
            <option value="{{_id}}">{{ profile.name }}</option>
            {{/each }}
        </select>
    </div>
        {{#each sharedLists }}
            {{> sharedList }}
        {{/each }}
</template>

<template name="sharedItem">
    {{# if checked }}
        {{# if canUncheck }}
            <div class="item shared_item"><input type="checkbox" checked="{{ checked }}" title="{{ checkerUser.profile.name }}"/><span class="item_label" title="{{ name }}">{{name}}</span></div>
        {{ else }}
            <div class="item shared_item"><input type="checkbox" checked="{{ checked }}" title="{{ checkerUser.profile.name }}" disabled /><span class="item_label" title="{{ name }}">{{name}}</span></div>
        {{/ if }}
    {{ else }}
            <div class="item shared_item"><input type="checkbox" checked="{{ checked }}"/><span class="item_label" title="{{ name }}">{{name}}</span></div>
    {{/ if }}
</template>

<template name="sharedList">
    <div class="wishlist shared_list col-sm-12 col-xs-12">
        <div class="content">
            <div class="list_name">{{name}}</div>
            <div class="list_items">
                {{#each items }}
                    {{> sharedItem }}
                {{/each }}
            </div>
            <div class="actions">
                <span data-toggle="tooltip" data-placement="bottom" title="{{i18n "unsubscribe"}}" class="action unsubscribe glyphicon glyphicon-remove"></span>
            </div>
        </div>
    </div>
</template>
