<template name="sharedLists">
    <div class="wishlist">
        {{#each sharedLists }}
            {{> sharedList }}
        {{/each }}
    </div>
</template>

<template name="sharedItem">
    {{# if checked }}
        {{# if canUncheck }}
        <div class="shared_item"><input type="checkbox" checked="{{ checked }}" title="{{ checkerUser.profile.name }}"/><span class="item_label">{{name}}</span></div>
        {{ else }}
        <div class="shared_item"><input type="checkbox" checked="{{ checked }}" title="{{ checkerUser.profile.name }}" disabled /><span class="item_label">{{name}}</span></div>
        {{/ if }}
    {{ else }}
        <div class="shared_item"><input type="checkbox" checked="{{ checked }}"/><span class="item_label">{{name}}</span></div>
    {{/ if }}
</template>

<template name="sharedList">
    <div class="wishlist col-sm-12 col-xs-12">
        <div class="content">
            <span class='owner'>{{ owner.profile.name }}</span>
            <div class="list_name">{{name}}</div>
            <div class="list_items">
                {{#each items }}
                    {{> sharedItem }}
                {{/each }}
            </div>
        </div>
    </div>
</template>
