<template name="sharedList">
    <div class="wishlist shared_list col-sm-12 col-xs-12">
        <div class="content">
            <div class="list_name">{{name}}</div>
            <div class="list_items">
                {{#each items }}
                    {{> sharedItem }}
                {{/each }}
            </div>
            <form class="addItem">
                <div class="input-group">
                    <input class="form-control add_item input-group-addon" type="text" name="name" placeholder="{{i18n "The owner of the list will not see this item."}}"/>
                    <span class = "input-group-btn">
                        <button class="btn btn-primary validate" type="submit">{{i18n "add"}}</button>
                    </span>
                </div>
            </form>
            <div class="actions">
                <span data-toggle="tooltip" data-placement="bottom" title="{{i18n "unsubscribe"}}" class="action unsubscribe glyphicon glyphicon-remove"></span>
            </div>
        </div>
    </div>
</template>
